@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #44403c; /* stone-700 */
    color: #e7e5e4; /* stone-200 */
    height: 100vh;
    display: grid;
    font-family: "Anaheim", sans-serif;
    overflow-x: hidden;
    /*font-size: 1.125rem;*/
}

#app {
    display: grid;
}
